
__pycache__/
**/__pycache__/
*.py[cod]

venv/
**/venv/
.venv/
**/.venv/
env/
**/env/

tests/
**/tests/
pytest.ini
**/pytest.ini

.vscode/
**/.vscode/
.idea/
**/.idea/
.git/
**/.git/
.gitignore


*.env
.env.*
docker-compose.yml

README.md
dev-requirements.txt


*.Dockerfile
